<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Add User", "Index", "Home")</li>
        <li>@Html.ActionLink("Disable user", "About", "Home")</li>
        <li>@Html.ActionLink("Assign role", "Contact", "Home")</li>
    </ul>
</div>
